extends layout

block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script().
    $(document).ready(function() {
        $("#formComment").submit(function(event) {
            $("div.body").append("<p>" + "#{username}" + "</p><div class='message'><p>" + $("#commentText").val() + "</p></div>");
            event.preventDefault();
            $.post("/comment", {date: "#{song.date}", id: "#{userID}", comment: $("#commentText").val()}, (data, result) => {
                $("#commentText").val("");
            });
        });
    });
  a(class="sotd-home" href="../") #{title}
  p
  hr
  if closed
    p Sorry - voting has already closed for this song
  else
    p Thanks for voting - check back tomorrow to see the results
  p
  p The song for #{song.date} is
  p(class="song") #{song.ranking}) #{song.title} by #{song.artist}
  p #{song.comments}
  a(href=song.weblink) Listen to it here
  = "\n"
  div#comments
      h2 Leave your comments here
      hr
      div#comment-box
        form(action="/comment" id="formComment" method="post")
          textarea(rows="4" cols="40" id="commentText" name="comment")
          p
          input(type="submit", id="btnComment" value="Leave Comments")
        = "\n"
      h2 Previous comments
      hr
      if comments
        div(class="body")
          each comment in comments
            p #{comment.name}
            div(class="message")
              p #{comment.comment}
      else
        p No comments left yet
  h2 Results from yesterday
  hr
  p The song for #{oldsong.date} was
  p(class="song") #{oldsong.ranking}) #{oldsong.title} by #{oldsong.artist}
  p The popular vote was #{oldsong.result}
  p #{oldsong.comments}
  a(href=oldsong.weblink) Listen to it here
  if songVotes && songVotes.length
    h2 Ranking of songs by vote
    hr
    each songVote in songVotes
      if (songVote.result)
        a(class="song" href="../getsong/?date=" + songVote.date) (#{songVote.result})  #{songVote.ranking}) #{songVote.title} by #{songVote.artist}
        br
