extends layout

block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script().
    $(document).ready(function() {
        $("#formComment").submit(function(event) {
            $("div.body").append("<p>" + "#{username}" + "</p><div class='message'><p>" + $("#commentText").val() + "</p></div>");
            event.preventDefault();
            $.post("/comment", {date: "#{song.date}", id: "#{userID}", comment: $("#commentText").val()}, (data, result) => {
                $("#commentText").val("");
            });
        });
    });
  a(class="sotd-home" href="../") #{title}
  hr
  if currentSong
    p The song for #{song.date} is
  else
    p The song for #{song.date} was
  p(class="song") #{song.ranking}) #{song.title} by #{song.artist}
  p #{song.comments}
  a(href=song.weblink target="_blank") Listen to it here
  = "\n"
  p
  if loggedIn
      if currentSong
          h2 Place your vote
          hr
          if yourVote
            p You already voted - feel free to change your vote
          div
            form(action="/vote", method="post")
              input(type="hidden", name="id" value=userID)
              input(type="hidden", name="date" value=song.date)
              input(type="hidden", name="username" value=username)
              input(type="radio", name="vote", value=5, checked=(yourVote == 5) ? true : false)
              strong 5 -
              |  #{song.highVote}
              p
              input(type="radio", name="vote", value=4, checked=(yourVote == 4) ? true : false)
              strong 4 -
              |  Great Song!
              p
              input(type="radio", name="vote", value=3, checked=(yourVote == 3) ? true : false)
              strong 3 -
              |  Decent Song
              p
              input(type="radio", name="vote", value=2, checked=(yourVote == 2) ? true : false)
              strong 2 -
              |  This Sucks
              p
              input(type="radio", name="vote", value=1, checked=(yourVote == 1) ? true : false)
              strong 1 -
              |  #{song.lowVote}
              p
              input(type="submit", value="Vote")
          if yourVote
              div#comments
                  h2 Leave your comments here
                  hr
                  div#comment-box
                    form(action="/comment" id="formComment" method="post")
                      textarea(rows="4" cols="40" id="commentText" name="comment")
                      p
                      input(type="submit", id="btnComment" value="Leave Comments")
                    = "\n"
      if yourVote || historicSong
          h2 Previous comments
          hr
          if comments
            div(class="body")
              each comment in comments
                p #{comment.name}
                div(class="message")
                  p #{comment.comment}
          else
            p No comments left yet
  else
    a(href=loginlink) Click here to login via Facebook if you would like to vote
