extends layout

block content
  h1= title
  p The song for #{song.date} is #{song.title} by #{song.artist}
  p #{song.comments}
  a(href=song.weblink target="_blank") Listen to it here
  = "\n"
  p
  if loggedIn
      h2 Place your vote
      if yourVote
        p You already voted - feel free to change your vote
      div
        form(action="/vote", method="post")
          input(type="hidden", name="id" value=userID)
          input(type="hidden", name="date" value=song.date)
          input(type="radio", name="vote", value=5, checked=(yourVote == 5) ? true : false)
          strong 5 -
          | #{song.highVote}
          p
          input(type="radio", name="vote", value=4, checked=(yourVote == 4) ? true : false)
          strong 4 -
          | Great Song!
          p
          input(type="radio", name="vote", value=3, checked=(yourVote == 3) ? true : false)
          strong 3 -
          | Decent Song
          p
          input(type="radio", name="vote", value=2, checked=(yourVote == 2) ? true : false)
          strong 2 -
          | This Sucks
          p
          input(type="radio", name="vote", value=1, checked=(yourVote == 1) ? true : false)
          strong 1 -
          | #{song.lowVote}
          p
          input(type="submit", value="Vote")
  else
    a(href=loginlink) Click here to login via Facebook if you would like to vote
