extends layout

block content
  h1= title
  p The song for #{song.date} is #{song.title} by #{song.artist}
  p #{song.comments}
  a(href=song.weblink) Listen to it here
  = "\n"
  p
  if registered
      h2 Place your vote
      if yourVote
        p You already voted - feel free to change your vote
      div
        form(action="/vote", method="post")
          input(type="radio", name="vote", value=5, checked=(yourVote == 5) ? true : false)
          | #{song.highVote}
          p
          input(type="radio", name="vote", value=4, checked=(yourVote == 4) ? true : false)
          | Great Song!
          p
          input(type="radio", name="vote", value=3, checked=(yourVote == 3) ? true : false)
          | Decent Song
          p
          input(type="radio", name="vote", value=2, checked=(yourVote == 2) ? true : false)
          | This Sucks
          p
          input(type="radio", name="vote", value=1, checked=(yourVote == 1) ? true : false)
          | #{song.lowVote}
          p
          input(type="submit", value="Vote")
  else if loggedIn
    p You aren't registered with Song of the Day
    p Please click here to register if you would like to vote
    div
      form(action="/register", method="post")
        input(type="submit", value="Register")
  else
    a(href=loginlink) Click here to login via Facebook if you would like to vote
